article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'News Cycle', sans-serif;
  font-weight: 400; }

.selectChoice {
  height: 50vh;
  width: 50%;
  max-width: 600px;
  margin: 25vh auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  box-shadow: 0px 2px 2px grey;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  transition: all 1s ease;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2; }
  .selectChoice:hover {
    background: white; }

.container {
  margin: auto;
  text-align: center; }

h1 {
  text-transform: uppercase;
  font-size: 70px;
  letter-spacing: 10px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  transition: all 1s ease;
  padding: 0;
  position: relative;
  margin-bottom: 10px; }
  h1:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    background: black;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 1s ease; }

.description {
  font-size: 18px;
  margin-bottom: 30px;
  padding: 0;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  transition: all 1s ease; }

h2 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: all 1s ease; }

.shrink {
  height: 20vh;
  margin: 2vh auto;
  max-width: 500px; }
  .shrink h1 {
    font-size: 40px;
    margin-bottom: 5px;
    letter-spacing: 10px; }
    .shrink h1:after {
      width: 100px; }
  .shrink .description {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    margin: 0 auto;
    left: 0;
    right: 0; }
  .shrink h2 {
    font-size: 14px;
    margin-bottom: 5px; }

.products {
  margin: 0 auto;
  width: 75%;
  text-align: center;
  position: relative;
  z-index: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }

img {
  max-width: 100%; }

select {
  width: 100px;
  border-radius: 3px; }

.toTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  z-index: 3;
  background: white;
  opacity: 0.5;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease;
  visibility: hidden;
  box-shadow: 0px 1px 2px grey;
  padding: 0;
  text-align: center; }
  .toTop:hover, .toTop:focus {
    opacity: 1; }

.show {
  visibility: visible; }

.fa {
  color: black;
  font-size: 30px; }

.product {
  border: 1px solid lightgrey;
  background: white;
  box-shadow: 0px 2px 2px lightgrey;
  margin: 20px 0;
  padding: 30px;
  border-radius: 3px;
  transition: all 0.3s ease;
  position: relative;
  opacity: 0.9;
  width: 48%;
  display: -ms-flexbox;
  display: flex; }
  .product:hover {
    opacity: 1; }
  .product img {
    border-radius: 3px; }
  .product .wrapper {
    margin: auto auto 0; }

h4 {
  font-size: 18px;
  margin: 5px 0; }

.brand {
  text-transform: uppercase;
  font-size: 14px;
  margin: 5px 0;
  letter-spacing: 1px; }

.productBtn {
  background: white;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px 0;
  margin: 15px 20px 0;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  width: 60%; }
  .productBtn:hover, .productBtn:focus {
    background: black;
    color: white; }

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video-container .filter {
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video-container video.fillWidth {
  width: 100%; }

@media (max-width: 800px) {
  .selectChoice,
  .products {
    width: 75%;
    max-width: 500px; }
  .products {
    display: block; }
  .product {
    display: block;
    width: 100%; } }

@media (max-width: 580px) {
  .video-container {
    display: none; }
  .mobileBackground {
    height: 100vh;
    position: fixed;
    background-image: url("../video/Snapshots/Busy.jpg");
    background-size: cover;
    top: 0;
    width: 100%; }
  .selectChoice,
  .products {
    width: 90%; }
  h1 {
    font-size: 60px;
    letter-spacing: 10px; }
    h1:after {
      width: 175px; }
  select {
    width: 40%; }
  .shrink {
    height: 28vh; }
  .shrink h1 {
    font-size: 35px;
    margin-bottom: 2px;
    letter-spacing: 8px; }
  .shrink h2 {
    font-size: 12px;
    margin-bottom: 5px; }
  .toTop {
    opacity: 1;
    background: black; }
  .fa {
    color: white; }
  .product {
    opacity: 1; }
  h4,
  .brand,
  .price {
    margin: 3px 0; }
  .productBtn {
    width: 80%;
    display: block;
    margin: 15px auto 0; } }
